/* Table */
table {
	border-collapse: collapse;
	table-layout: fixed;
	color: var(--colors-textBody);
}

/* Table heading */
table thead {
	border-bottom-width: var(--borderWidths-1);
	border-bottom-style: solid;
	border-bottom-color: var(--colors-textBody);
}

/* Table heading row */
table thead tr th {
	padding: var(--space-2) var(--space-0) var(--space-2) var(--space-0);
	font-family: var(--fonts-heading);
	font-weight: var(--fontWeights-bold);
	font-size: var(--fontSizes-md);
	line-height: var(--space-5);
	text-align: left;
}

/* The first-child element is excluded   */
table tbody tr:not(:first-child) {
	border-width: var(--borderWidths-1) var(--borderWidths-0) var(--borderWidths-1) var(--borderWidths-0);
	border-style: solid;
	border-color: var(--colors-secondary);
}

/* Table body row individual cells, padding can't be applied directly to the row  */
table tbody tr td {
	padding: var(--space-2) var(--space-1) var(--space-2) var(--borderWidths-0);
	word-break: break-all;
	font-size: var(--fontSizes-md);
	line-height: var(--lineHeights-lg);
	font-weight: var(--fontWeights-medium);
}

#correct-answer-column {
	display: none;
}

/* useBreakPointValue hook isn't working reliably enough on larger screens, plain old vanilla css work's perfectly */
@media screen and (min-width: 768px) {
	#correct-answer-column {
		display: table-cell;
	}

	table tbody tr td {
		max-width: 150px;
	}
}

.link-primary {
	background-color: red;
}
